<div class="section_header">
  <h2 class="section_title">Mail</h2>

  <ul class="sub_nav">
    <li>{{#link-to 'mailbox'}}Inbox{{/link-to}}</li>
    <li class="list_divider">|</li>
    <li>{{#link-to 'mailbox.trash'}}Trash{{/link-to}}</li>
  </ul>
</div>

{{outlet}}
